* {
    all: unset;
    box-sizing: border-box;
}

:root {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

head {
    display: none;
}

body {
    /* hack to remove white space: https://stackoverflow.com/a/5647640 */
    font-size: 0;
}

.material-icons {
    color: rgba(0, 0, 0, 0.54); /* md-dark */
    cursor: pointer;
    font-size: 36px; /* md-36 */
    user-select: none;
}

.material-icons.hidden {
    display: none;
}

.material-icons:hover {
    color: black;
}
