* {
    all: unset;
    box-sizing: border-box;
}

:root {
    --black: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 0; /* remove white space: https://stackoverflow.com/a/5647640 */
    text-align: center;
}

head {
    display: none;
}

div {
    display: block;
    font-size: 16px;
    text-align: left;
}

.header {
    height: 24px;
    line-height: 24px; /* = height, center text vertically */
    margin: 0 auto; /* center horizontally */
    position: relative;
    white-space: nowrap;
}

canvas {
    display: block;
    margin: 0 auto; /* center horizontally */
}

.dialog {
    --padding: 12px;
    background-color: white;
    border: 2px solid var(--black);
    border-radius: 4px;
    box-shadow: 8px 8px 8px grey;
    display: none;
    left: 50%;
    padding: var(--padding);
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

ol {
    --color: #009acd;
    --color-dark: #00688b;
    --item-height: 32px;
}

li {
    border: 2px solid var(--color);
    border-radius: 4px;
    box-sizing: content-box; /* so text can be centered without calc(..) */
    color: var(--color);
    cursor: pointer;
    display: block;
    height: var(--item-height);
    line-height: var(--item-height); /* = height, center text vertically */
    margin-top: 4px;
    padding-left: 8px;
    transition-property: background-color, color;
    transition-duration: .1s;
}

li:hover {
    background-color: var(--color);
    border-bottom: 4px solid var(--color-dark);
    color: white;
    margin-bottom: -2px;
    transform: translateY(-2px);
}

li:hover:active {
    border-bottom-width: 2px;
    margin-bottom: 0;
    transform: none;
}

.material-icons {
    color: rgba(0, 0, 0, .54); /* md-dark */
    cursor: pointer;
    font-size: 36px; /* md-36 */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.material-icons:hover {
    color: var(--black);
}

.material-icons.hidden {
    display: none;
}

div > .close {
    font-size: 24px;
    position: absolute; /* instead of float: right, since that would push the
                           icon onto a second line if the text was too long.  */
}

.header > .close { right: 0; }
.dialog > .close { right: var(--padding); top: var(--padding); }

.hspace24 {
    display: inline-block;
    height: 1px;
    width: 24px;
}

.vspace24 {
    display: block;
    height: 24px;
    width: 1px;
}
