* {
    all: unset;
    box-sizing: border-box;
}

:root {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

head {
    display: none;
}

body {
    font-size: 0; /* remove white space: https://stackoverflow.com/a/5647640 */
}

div {
    display: block;
    font-size: 16px;
    height: 24px;
    line-height: 24px; /* = height, center text vertically */
    margin: 0 auto; /* center horizontally */
    position: relative;
    text-align: left;
    white-space: nowrap;
}

.material-icons {
    color: rgba(0, 0, 0, 0.54); /* md-dark */
    cursor: pointer;
    font-size: 36px; /* md-36 */
    user-select: none;
}

.material-icons:hover {
    color: black;
}

.material-icons.hidden {
    display: none;
}

div > .material-icons {
    font-size: 24px;
    position: absolute; /* instead of float: right, since that would push the
                           icon onto a second line if the text was too long.  */
    right: 0;
}
